<h2>Create Room</h2>
<form [formGroup]="roomCreateForm" (ngSubmit)="onSubmit(roomCreateForm.value.roomNumber, roomCreateForm.value.roomSize, roomCreateForm.value.minibar)">
  <div>
    <label for="roomNumber">Room Number:</label>
    <input type="number" id="roomNumber" formControlName="roomNumber">
  </div>
  
  <div>
    <label for="roomSize">Room Size:</label>
    <select id="roomSize" formControlName="roomSize">
      <option *ngFor="let size of roomSizes">{{ size }}</option>
    </select>
  </div>

  <div>
    <input type="checkbox" id="minibar" formControlName="minibar">
    <label for="minibar">Minibar</label>
  </div>
  
  <button type="submit" [disabled]="roomCreateForm.invalid">Submit</button>
</form>
